body {
    background-color: white;
    font-family: Arial, sans-serif;
}
.profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid white;
    margin: 20px auto 0;
    display: block;
}
.icon-image1{
    height: 25px;
    vertical-align: middle;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.icon-image2,
.icon-image3 {
    height: 45px;
    vertical-align: middle;
}
.icon-image2{
    margin-left: 50%;
}
